/* #region common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--spotify-text-soft-light);
    font-family: "Montserrat", serif;
    font-size: 12px;
    transition: all 250ms;
}

:root {
    --spotify-bg-header: #080b12;
    --spotify-bg-navbar: #000000;
    --spotify-bg-main: #141922;
    --spotify-bg-player: #282828;
    --spotify-text-light: #ffffff;
    --spotify-text-soft-light: #a3a3a3;
    --sporify-highlight: #79b229;
    --spotify-user-bg: #808080;
}

/* #endregion common */

/* ############################################## */

/* #region utilities */

/* layout */

.music_row {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    width: 100%;
    margin: 30px 0;

    * {
        text-align: center;
    }
}

#music {
    margin-left: 22px;
    margin-right: 35px;
}

.fyp_section {
    margin-top: 45px;
    margin-bottom: 30px;
}

.horizontal_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-wrap: nowrap;
    margin-top: 22px;

    li {
        padding: 0px 12px;
        line-height: 36px;
    }
}

#nav_bottom_hr {
    margin-bottom: 14px;
    border: 0.5px solid;
}

.music_col {
    width: calc(-1rem + 100% / 6);

    img {
        max-width: 100%;
    }
}

/* /layout */

/* text format */

h1 {
    color: var(--spotify-text-light);
    font-size: 24px;
    font-weight: 700;
}

h2 {
    color: var(--spotify-text-light);
    font-size: 16px;
    font-weight: 700;
}

h3 {
    color: var(--spotify-text-light);
    font-size: 14px;
    font-weight: 700;
}

h4 {
    color: var(--spotify-text-light);
    font-weight: 600;
    font-size: 13.5px;
}

ul {
    list-style-type: none;
}

.highlight {
    background-color: var(--sporify-highlight);
}

.highlight_text {
    color: var(--spotify-text-light);
}

/* /text format */

/* buttons */
.upgrade {
    color: var(--spotify-text-light);
    padding: 15px 40px;
    border: 2px solid var(--spotify-text-light);
    border-radius: 5rem;
    font-weight: 700;
    margin-right: 15px;
    text-align: center;
}

.nav_buttons {
    line-height: 24px;

    div {
        display: flex;
        height: 31px;
    }

    img {
        height: 22px;
        width: 22px;
        margin-right: 8px;
    }

    #download_icon {
        width: 15px;
        height: 23px;
    }

    #user_icon {
        background-color: var(--spotify-user-bg);
        padding: 1px 1.5px 2px 1.5px;
        border-radius: 100%;
    }

    span {
        font-size: 13px;
        font-weight: 500;
    }
}

.main_buttons {
    margin-top: 30px;
}

#create_playlist_button {
    background-color: var(--spotify-text-soft-light);
    width: 37px;
    height: 37px;

    span {
        position: relative;
        color: var(--spotify-bg-navbar);
        bottom: 4px;
        left: 7px;
        font-size: 38px;
        font-weight: 500;
    }
}

/* /buttons */

/* #endregion utilities */

/* ############################################## */

/* #region body */

/* nav bar */

#nav_bar {
    background-color: var(--spotify-bg-navbar);
    width: 230px;
    position: absolute;
    left: 0;
    top: 0;
    height: calc(100% - 90px);
    overflow-y: auto;
}

#nav_content {
    height: calc(100vh - 90px);
    padding: 20px;
    padding-bottom: 7px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#playlists {
    margin-top: 24px;

    ul {
        li {
            margin-bottom: 14px;
            font-size: 13px;
            font-weight: 500;
        }
    }
}

#create_playlist {
    margin-top: 12px;
    margin-bottom: 24px;
    display: flex;

    p {
        margin-left: 10px;
        align-self: center;
        font-size: 14px;
        font-weight: 600;
    }
}

/* /nav bar */

main {
    margin: 0 0 90px 230px;
    overflow-y: auto;
    background-color: var(--spotify-bg-main);
    height: calc(100vh - 90px);

    #upgrade_section {
        background-color: var(--spotify-bg-header);
        opacity: 0.75;
        height: 90px;
        position: sticky;
        top: 0;
        right: 0;
        display: flex;
        justify-content: end;
        align-items: center;
    }

    .artist_portrait {
        border-radius: 100%;
    }
}

/* /main */

footer {
    background-color: var(--spotify-bg-player);
    height: 90px;
    position: fixed;
    bottom: 0;
    width: 100%;


}

/* /footer */

/* #endregion body */

/* ############################################## */

/* #region media query */

@media screen and (min-width: 992px) {
    .mobile_only {
        display: none;
    }
}

/* /desktop only */

@media screen and (max-width: 992px) {
    .music_col {
        width: calc(-1rem + 100% / 4);
    }

    .mobile_only {
        display: none;
    }
}

/* /tablet &- */

@media screen and (max-width: 768px) {
    .music_col {
        width: calc(-1rem + 100% / 2);
    }

}

/* /big phone &- */

@media screen and (max-width: 600px) {

    .no_mobile {
        display: none;
    }

    .mobile_only {
        display: unset;
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            height: 28px;
            width: 28px;
            margin-top: 15px;
        }
    }

    #nav_bar {
        width: 50px;

        #nav_content {
            padding: unset;
        }
    }

    main {
        margin-left: 50px;
    }
}

/* /phone only */


/* #endregion media query */